{% extends 'base.html.twig' %}

{% block content %}

<form>
    <p>
        <label>Search:
            <input type="search" name="search" value="{{ search }}">
        </label>
    </p>
</form>

{% endblock %}
