{% extends 'base.html.twig' %}
{% block content %}
<h1>Card</h1>
<p><a href="{{ link_to_deck }}">Show deck</a>.</p>
<p><a href="{{ link_to_shuffle }}">Show shuffled deck</a>.</p>
<p><a href="{{ link_to_draw }}">Show draw card</a>.</p>
{% endblock %}
