{% extends 'base.html.twig' %}
{% block content %}
<h1>Dokumentation</h1>
<h2>Flödesdiagram</h2>
<p><img src="{{ asset("img/FlowchartGame.png") }}" width="500" alt="Flowchart"></p>
<h2>Pseudokod</h2>
<pre>
<code>
    deal first card to player
    WHILE player chooses to draw another card
        deal card to player
        IF sum of hand is greater than 21 THEN
            bank wins
            start new game
        ENDIF
    ENDWHILE
    WHILE sum of bank's hand is less than 17
        deal card to bank
        IF sum of hand is greater than 21 THEN
            player wins
            start new game
        ENDIF
    ENDWHILE
    evaluate hands
    IF bank's hand is equal to or greater than player's hand THEN
        bank wins
    ELSE
        player wins
    ENDIF
    start new game
</code>
</pre>

<h2>Klasser</h2>
<p> Jag kommer att använda mina gamla klasser Card, Deck och Player. Card ska bara ge ett kort sina egenskaper. Deck är en kortlek som skapar de 52 korten och kan dela ut dem. Player är en spelare, vilket både användaren och banken är, som ska kunna ta emot kort från kortleken. För att få ett fungerande spel behöver jag en spelklass som kommer att heta Game. I denna klassen tänker jag att jag kan använda mig av funktionalitet i de andra klasserna och lägga till ytterligare för att hålla rätt på spelarna, dra kort till spelarna och även inneha spel-logiken, göra tester på vem som har vunnit och så vidare.</p>

{% endblock %}
