{# templates/lucky_number.html.twig #}
{% extends 'base.html.twig' %}
{% block content %}
<h1>Om</h1>
<p><img src="img/php.jpg" width="500" alt="PHP"></p>
<p>Syftet med kursen är att vi ska lära oss objektorientring i språket PHP. Detta ska vi kombinera med ramverk och databaser för att bygga webbplatser. I och med det kommer vi även att lära oss mer om ramverket symfony och hur vi med hjälp av controllers, templates och olika konstruktioner gör det på ett bra sätt. Dels för att få en fungerande webbplats men också för att kunna skriva och strukturera koden. I det ingår också att skriva "snygg" kod. Eventuellt lär vi oss mer om databaser, alternativt använder vi kunskaperna vi har sedan tidigare och applicerar helt enkelt dem i den här nya kontexten. Slutligen ska vi även lära oss mer om enhetstestning.</p>

<p>Länk till kursrepot på <a href="https://github.com/dbwebb-se/mvc">Github</a></p>
{% endblock %}
