{% extends 'base.html.twig' %}
{% block content %}
<h1>Metrics</h1>

<h2>Introduktion</h2>
<p></p>

<h2>Phpmetrics</h2>
<p></p>

<h2>Scrutinizer</h2>
<p></p>

<h2>Förbättringar</h2>
<p></p>

<h2>Diskussion</h2>
<p></p>
