{# templates/lucky_number.html.twig #}
{% extends 'base.html.twig' %}
{% block content %}
<h1>Redovisning MVC</h1>

<h2>Kmom01</h2>
<p>Min erfarenhet av objektorienterad programmering kommer från tidigare kurser på programmet. Främst från oopython men vi gjorde även lite objektorienterad kod i javascript-kursen samt databas-kursen. Det känns som att förståelsen succesvit har ökad, framförallt hade ett stort fokus på projektorientering och jag hoppas att det fortsätter i denna kursen. Förhoppningsvis finns det även mycket att ta med sig från föregående kurser även om det nu istället gäller PHP.</p>

<p>Det första man behöver kunna för objektorientering är nyckelordet "class". Det är så du skapar en klass som du sen kan instansiera i objekten. En klass är som en mall för objekt. Klassen innehåller metoder (klassens funktioner) och properties (klassens variabler). För att komma åt properties använder man sig av $this som då är specifik för den instansen. Properties kan vara publika men också privata där man bara kommer åt dem med hjälp av metoder. Man kan skicka med argument till klassen som då tillhör just den instansen av objektet. För att komma åt allt skapar man ett nytt objekt av klassen och det objektet har då tillgång till klassens metoder och properties. </p>

<p>I det stora hela känns det som att jag förstår strukturen och vad de olika delarna fyller för funktion. Vissa delar känns lite som magi fortfarande och hur de fungerar som de gör är inte självklart alla gånger. Men att ha en controller med routes och funktioner som i sin tur renderar templates med i det här fallet html-kod och lite bilder och css på det är inga konstigheter. Vi har också jobbat med twig i design-kursen sen tidigare och routes i databas-kursen.</p>

<p>Än så länge har jag mest skummat igenom "PHP The Right Way" då det är ett rätt omfattande dokument. Det jag så här långt känner mig mest intreserad av är Language Highlights. Webtec-kursen var min första bekantskap med programmering och php-delen där minns jag som väldigt svår. Nu har jag lite mer programmering i bagaget och tror därför att många saker som jag inte förstod då kommer att kännas självklara, eller i alla fall förståeliga när jag vet lite mer om vad det innebär att programmera, även om det har varit i andra språk. Av samma anledningen ska det även bli kul med Databases då vi utöver kodandet även haft en hel kurs i databaser och allt troligvis kommer att vara mycket klarare den här gången.</p>

<p>Min TIL detta kursmomentet, utöver att jag har väldigt många lyckotal, är faktiskt att jag på ett djupare plan förstår hur helheten, jämfört med i webtec-kursen funger. Jag märkte att det fungerade då också naturligtvis men det är tydligare hur och vad som är php, symfony, twig och vad controllern gör, hur vyerna renderas och så vidare. </p>

<h2>Kmom02</h2>
<p></p>

<h2>Kmom03</h2>
<p></p>

<h2>Kmom04</h2>
<p></p>

<h2>Kmom05</h2>
<p></p>

<h2>Kmom06</h2>
<p></p>

<h2>Kmom07/10</h2>
<p></p>

{% endblock %}
