{# templates/lucky_number.html.twig #}
{% extends 'base.html.twig' %}
{% block content %}
<h1>Om mig själv</h1>

<p><img src="img/drum.jpg" width="500" alt="Bild på virveltrumma"></p>

<p>Jag heter Björn Molin och är 31 år gammal. Jag är uppvuxen i Bjärred men har efter några år i Lund bott i Malmö de senaste 8 åren. Sen tidigare är jag beteendevetare och jobbade fram till för ett par veckor sedan på en privat ögonklinik. Senaste tiden har jag känt att det var dags för något nytt och har därför hoppat på det här programmet, vilket jag verkligen ser fram emot!</p>

<p>Jag har ett stort musikintresse, dels lyssnar jag mycket på musik och går på konserter, men har också spelat trummor sen jag var 7 år gammal. Utöver undervisning har jag varit med i ett gäng olika band genom åren. Under min förra studietid jobbade jag även extra som trumlärare. Helst lyssnar jag på progressiv metal, frijazz och avant garde.</p>

<p>Utöver musiken har jag ett väldigt stort fotbollsintresse. Eftersom jag har haft turen att växa upp i Malmöregionen ser jag därför, utöver att fortsätta lära mig programmering, fram emot resan mot ytterligare ett guld!</p>
{% endblock %}
