{% extends "base.html.twig" %}

{% block content %}

<form method="post">
    <fieldset>
    <legend>Lägg till en bok</legend>
    <p>
        <label>Titel:
            <input type="text" name="title" value="">
        </label>
    </p>
    <p>
        <label>Författare:
            <input type="text" name="author" value="">
        </label>
    </p>
    <p>
        <label>ISBN:
            <input type="text" name="isbn" value="">
        </label>
    </p>
    <p>
        <label>Bild:
            <input type="text" name="image" value="">
        </label>
    </p>
    <p>
        <input type="submit" value="Lägg till">
    </p>
    </fieldset>
</form>

{% endblock %}
